body {
    margin: 0 auto;
    width: 95%;
    font-family: Calibri;
}
section {
    display: none;
}

.active {
    display: block;
  }
  

  nav {
    background-color: #8B7355;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }

#home-pic {
    max-height: 40%;
    max-width: 30%;
}

#who-pic {
    max-height: 40%;
    max-width: 30%;
}

#why-pic {
    max-height: 40%;
    max-width: 30%;
}
#seasons-pic {
    max-height: 40%;
    max-width: 30%;
}

#how-pic {
    max-height: 40%;
    max-width: 30%;
}

#where-pic {
    max-height: 40%;
    max-width: 30%;
}

footer {
    background-color: #8B7355;
    color: white;
    padding: 5px;
    text-align: center;
}

footer a {
    color: #FFA07A;
}

