body {
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url('https://alee182.github.io/itis3135/images/img_188.jpg');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
  margin: 0;
}

h1 {
    text-align: center;
}

footer {
    text-align: center;
}