body{
    background-color: white;
}
ul {
    text-align: center;
    background-color: lightsalmon;
}

#big-paragraph {
    font-size: 37;
    font-family: 'Papyrus', fantasy;
}

img {
    height: 400px;
    width: 400px;
    border-radius: 10px;

}

h1 {
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
    text-align: right;
    margin-bottom: 120px;
}

p {
    font-family: 'Times New Roman';
    padding-left: 10%;
    margin-top: 11%;
}