<header>
    <h1>Austin Lee's Amicable LLama || ITIS 3135</h1>
    <nav id="head">
        
            <a href="./">Home</a>
            <a href="introduction.html">Introduction</a>
            <a href="contract.html">Contract</a>
            <a href="amicablellama/">Whimsical Company</a>
            <a href="leedesignsunlimited.com/">Design Firm</a>
            <a href="website_evaluations.html">Website Evaluations</a>
            <a href="itis3135\stuff\cR@pp13 w3bSItl.htm">Crap Website</a>

            
        

    </nav>
</header>  